<div class="row mt-3 p-2">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <img src="https://img.pizza/900/400" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Marguerita</h5>
        <p class="card-text">
          Preparada com molho de tomate, manjericão, rodelas de tomate fresco,
          azeitona, queijo muçarela e orégano salpicado
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img
        src="https://img.pizza/800/350"
        class="card-img-top"
        alt="mmm pizza"
      />
      <div class="card-body">
        <h5 class="card-title">Muçarela</h5>
        <p class="card-text">
          Esse sabor leva o queijo muçarela em abundância, molho de tomate
          fresco, azeitona, rodelas de tomate e orégano!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 p-2">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <img src="https://img.pizza/800/400" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Calabresa</h5>
        <p class="card-text">
          O recheio é preparado com queijo, molho de tomate, calabresa em
          rodelas, cebola, tomate picado, azeite e orégano.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img
        src="https://img.pizza/750/380"
        class="card-img-top"
        alt="mmm pizza"
      />
      <div class="card-body">
        <h5 class="card-title">Portuguesa</h5>
        <p class="card-text">
          É feita com queijo, azeitona verde ou preta, ovo cozido, presunto
          cozido, cebola, ervilha, molho de tomate e azeite.
        </p>
      </div>
    </div>
  </div>
</div>
